<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="end">
      <ion-button (click)="back()">
        完成
      </ion-button>
    </ion-buttons>
    <ion-title>购买成功</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" class="ion-no-padding top">
      <ion-text class="status">购买成功</ion-text>
      <ion-text class="txt" color="light">此商品为自动发货，购买后请在10分钟内使用，否则有可能兑换失效</ion-text>
    </ion-col>
    <ion-col size="12" class="ion-np-padding description">
      <ion-text class="title" color="medium">兑换说明</ion-text>
      <ion-text class="txt">1、获得皮肤奖品的用户，请保存好购买的订单号及兑换码联系礼包码内官方人员领奖。2、获得50元幸运奖的用户，复制开链接打开后领取。</ion-text>
    </ion-col>
  </ion-row>
</ion-content>
