ion-content {
  --background: #eee;
  ion-item-group {
    padding: 0 10px;
    ion-item-divider {
      color: #919191;
      font-size: 13px;
    }
    ion-button {
      --border-radius: 3px;
      margin-top: 10px;
    }
  }
}