ion-content {
  --background: #fefefe;
  --padding-start: 15px;
  --padding-end: 15px;
  .top {
    border-bottom: 3px solid #e5e9ed;
    .title {
      display: block;
      font-weight: 700;
      font-size: 16px;
    }
    .time {
      font-size: 13px;
    }
    ion-button {
      --background: #f8f8f8;
      --background-activated: #f0f0f0;
      --color: #666;
      --color-activated: #000;
    }
  }
  .txt {
    font-size: 15px;
    display: block;
    padding-top: 20px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  > ion-button {
    height: 30px;
    --border-radius: 6px;
    border-radius: 8px;
    border: 1px solid #666666;
    --color: #333;
    --background: transparent;
    --background-activated: #f3f3f3;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}