<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/personalComponents/dynamic"></ion-back-button>
    </ion-buttons>
    <ion-title>公告详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top">
    <ion-text color="dark" class="title">阿空呢发二级翻板阀北府兵河北二级分级不不不</ion-text>
    <ion-text class="time" color="medium">2020-04-16 16:30</ion-text>
  </div>
  <div class="main">
    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1587457180633&di=a88a42c5d7a22cc7ba6b5048de512e1f&imgtype=0&src=http%3A%2F%2Fimg8.zol.com.cn%2Fbbs%2Fupload%2F19779%2F19778120.JPG" />
  </div>
</ion-content>
