@font-face {
  font-family: "iconfont";
  src: url('src/assets/fonts/iconfont.eot'); /* IE9 */
  src: url('src/assets/fonts/iconfont.ttf') format('embedded-opentype'), /* IE6-IE8 */
  url('src/assets/fonts/iconfont.woff') format('woff'),
  url('src/assets/fonts/iconfont.woff2') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('src/assets/fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-protocol:before {
  content: "\e6e1";
}

.icon-ceshishenqing:before {
  content: "\e603";
}

.icon-tixian:before {
  content: "\e62b";
}

.icon-yonghufankui:before {
  content: "\e617";
}

.icon-shoucang:before {
  content: "\e73d";
}

.icon-duihua:before {
  content: "\e69d";
}

.icon-pinglun:before {
  content: "\e600";
}

.icon-dianzan:before {
  content: "\e644";
}

.icon-xinbaniconshangchuan-:before {
  content: "\e606";
}

.icon-xingxu:before {
  content: "\e62f";
}

.icon-dongtai:before {
  content: "\e650";
}

.icon-xiaoxi:before {
  content: "\e736";
}

.icon-dianpu:before {
  content: "\e641";
}

.icon-dingdangdaishimingrenzheng:before {
  content: "\e6b9";
}

.icon-kuaidifei:before {
  content: "\e67d";
}

.icon-renzhengxinxi:before {
  content: "\e60c";
}

.icon-Group-:before {
  content: "\e69c";
}

.icon-coupon:before {
  content: "\e616";
}

.icon-yingyongpeizhi:before {
  content: "\e61f";
}

.icon-daiban:before {
  content: "\e629";
}

.icon-querengongdan:before {
  content: "\e64f";
}

.icon-jishishalou:before {
  content: "\e61e";
}

.icon-huabankaobei-:before {
  content: "\e66c";
}

.icon-hands:before {
  content: "\e62d";
}

.icon-ic_paimai:before {
  content: "\e690";
}

.icon-shangjia:before {
  content: "\e605";
}

.icon-distribution:before {
  content: "\e659";
}

.icon-shinshopdaipingjia:before {
  content: "\e621";
}

.icon-gonggao:before {
  content: "\e626";
}

.icon-yiqueren-xianxing:before {
  content: "\e63d";
}

.icon-credit-card:before {
  content: "\e6e7";
}

.icon-gouwudai:before {
  content: "\e652";
}

.icon-wode:before {
  content: "\e65b";
}

.icon-shouji1:before {
  content: "\e639";
}

.icon-zhuye:before {
  content: "\e648";
}



*:focus {
  outline: none;
  box-shadow: none;
}
